extends layout

block content
  h1= title
  p All data below started the be collected at&nbsp;
    span(id='initialTime')
  div(id='totals')
    div(id='totalCount')
      label Count:
      span(class='value')
    div(id='perMinute')
      label Notif. per minute:
      span(class='value')
    div
      label Enter a channel to listen to:
      input(id='channel')
      button(id='listenToChannel') Listen!
  div(id='list')
    div(class='inner')
      p
        span Update the last 50 dispatched notifications
        button(type='button') Pause
      ol
  div(id='channels')
    div(class='inner')
      p Channels:
      ul
