body {
  padding: 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#totals, #channels, #list {
    overflow: hidden;
    border: 1px solid #ddd;
    margin-bottom: 10px;
}

#totals>div {
    width: 200px;
    float: left;
    margin: 10px;
}

.inner {
    margin: 10px;
}
